* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #814a81;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
body header {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header h1 a {
  color: #260030;
  text-decoration: none;
}
body section {
  color: #2b022b;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
body .wave__background {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  max-width: 1400px;
  height: auto;
}

.nav__bar {
  background-color: #814aa0;
  border: 1px solid black;
  top: 0px;
  padding: 0.5rem 2rem;
  width: 100%;
  z-index: 1;
  height: auto;
}
.nav__bar h1 a:hover,
.nav__bar h1 a:focus {
  color: #46042f;
}
.nav__bar .nav__logo {
  flex: 1 1 300px;
}
.nav__bar .nav__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  box-sizing: content-box;
  align-items: center;
  flex: 1 1 300px;
}
.nav__bar .nav__list .nav__item {
  margin: 0 0 0 1rem;
  text-align: center;
  padding: 0 25px 0 25px;
  border: 4px solid rebeccapurple;
  border-radius: 15px 50px 30px;
  max-height: 4rem;
  height: auto;
  font-size: 2rem;
}
.nav__bar .nav__list .nav__item .nav__link {
  color: #260030;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 95px;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in-out 0.7s;
  transform: translateY(-5px);
}
.nav__bar .nav__list .nav__item #news {
  position: relative;
  right: 6px;
}
.nav__bar .nav__list .nav__item:hover,
.nav__bar .nav__list .nav__item:focus {
  background-color: #4a2261;
  transition: ease-in-out 0.5s;
}

.navbar-collapse .nav__list .nav__item .nav__link:hover {
  color: #a148f5;
}

.main__index {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  text-align: center;
}
.main__index .main__index__hero {
  animation-duration: 2s;
  animation-name: showself;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.main__index .main__index__hero .title {
  font-size: 3rem;
}
.main__index .main__index__hero .subtitle {
  font-size: 2rem;
}
@media (min-width: 1080px) {
  .main__index .main__index__hero .title {
    font-size: 4rem;
  }
  .main__index .main__index__hero .subtitle {
    font-size: 3rem;
  }
}
@keyframes showself {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main__index #main__index__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  animation-duration: 2s;
  animation-name: showself;
  width: 100%;
  max-width: 500px;
  height: auto;
}
.main__index #main__index__img:hover,
.main__index #main__index__img:focus {
  transform: scale(1.01, 1.01);
}

.catalogo__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.catalogo__grid {
  margin-top: 4rem;
}
.catalogo__grid .libro-1 {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
  border-radius: 14%;
  text-align: center;
  border: 2px solid rgba(136, 1, 136, 0.473);
}
.catalogo__grid .product__img {
  position: relative;
  top: 10px;
  width: 90%;
  max-width: 260px;
  height: auto;
  max-height: 260px;
  border-radius: 7%;
}
.catalogo__grid .catalogo__item {
  margin-top: 2rem;
}
.catalogo__grid .libro-2 {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
  border-radius: 14%;
  text-align: center;
  border: 2px solid rgba(136, 1, 136, 0.473);
}
.catalogo__grid .product__img {
  position: relative;
  top: 10px;
  width: 90%;
  max-width: 260px;
  height: auto;
  max-height: 260px;
  border-radius: 7%;
}
.catalogo__grid .catalogo__item {
  margin-top: 2rem;
}
.catalogo__grid .libro-3 {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
  border-radius: 14%;
  text-align: center;
  border: 2px solid rgba(136, 1, 136, 0.473);
}
.catalogo__grid .product__img {
  position: relative;
  top: 10px;
  width: 90%;
  max-width: 260px;
  height: auto;
  max-height: 260px;
  border-radius: 7%;
}
.catalogo__grid .catalogo__item {
  margin-top: 2rem;
}
.catalogo__grid .libro-4 {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
  border-radius: 14%;
  text-align: center;
  border: 2px solid rgba(136, 1, 136, 0.473);
}
.catalogo__grid .product__img {
  position: relative;
  top: 10px;
  width: 90%;
  max-width: 260px;
  height: auto;
  max-height: 260px;
  border-radius: 7%;
}
.catalogo__grid .catalogo__item {
  margin-top: 2rem;
}
.catalogo__grid .libro-5 {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
  border-radius: 14%;
  text-align: center;
  border: 2px solid rgba(136, 1, 136, 0.473);
}
.catalogo__grid .product__img {
  position: relative;
  top: 10px;
  width: 90%;
  max-width: 260px;
  height: auto;
  max-height: 260px;
  border-radius: 7%;
}
.catalogo__grid .catalogo__item {
  margin-top: 2rem;
}
.catalogo__grid .libro-6 {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
  border-radius: 14%;
  text-align: center;
  border: 2px solid rgba(136, 1, 136, 0.473);
}
.catalogo__grid .product__img {
  position: relative;
  top: 10px;
  width: 90%;
  max-width: 260px;
  height: auto;
  max-height: 260px;
  border-radius: 7%;
}
.catalogo__grid .catalogo__item {
  margin-top: 2rem;
}

.contact__form__container {
  position: relative;
  text-align: center;
}
.contact__form__container .contact__title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contact__form__container .contact__form {
  background: linear-gradient(to top, #a16198, #fca1f0);
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 7%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 5px solid #300521;
}
.contact__form__container .contact__form .name {
  background-color: #ebebeb;
  color: black;
  border-radius: 10px;
  height: 20px;
  width: 90%;
  margin: 1.5rem 0 1.5rem 0;
  transition: ease 0.5s;
}
.contact__form__container .contact__form .name:hover,
.contact__form__container .contact__form .name:focus {
  border-bottom: 5px solid #300521;
  height: 30px;
  font-size: 2.09rem;
}
.contact__form__container .contact__form .email {
  background-color: #ebebeb;
  color: black;
  border-radius: 10px;
  height: 20px;
  width: 90%;
  margin: 1.5rem 0 1.5rem 0;
  transition: ease 0.5s;
}
.contact__form__container .contact__form .email:hover,
.contact__form__container .contact__form .email:focus {
  border-bottom: 5px solid #300521;
  height: 30px;
  font-size: 2.09rem;
}
.contact__form__container .contact__form .mensaje {
  background-color: #ebebeb;
  overflow: hidden;
  height: 17rem;
  margin: 2rem 0 2rem 0;
  transition: ease-in-out 2s;
  width: 90%;
  border-radius: 7%;
}
.contact__form__container .contact__form .mensaje:hover,
.contact__form__container .contact__form .mensaje:focus {
  border-bottom: 5px solid #300521;
  height: 20rem;
}
.contact__form__container .contact__form .form__boton {
  width: 200px;
  color: white;
  background-color: #300521;
  font-size: 20px;
  margin: 1.5rem 0 1.5rem 0;
  transition: ease 0.5s;
}
.contact__form__container .contact__form .form__boton:hover,
.contact__form__container .contact__form .form__boton:focus {
  font-size: 30px;
}
.contact__form__container .contact__form .terms__checkbox {
  margin: 2rem 0 2rem 0;
}
.contact__form__container .contact__form .evaluation {
  border-radius: 10px;
}
.contact__form__container .contact__form .evaluation:hover,
.contact__form__container .contact__form .evaluation:focus {
  transform: scale(1.1, 1.1);
}

.main_novedades {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1400px;
  margin-top: 3rem;
}
.main_novedades .entradas_title {
  text-align: center;
  color: #2b022b;
  margin-top: 2rem;
}
.main_novedades .carousel,
.main_novedades .slide,
.main_novedades .carousel-inner {
  width: 100%;
  max-width: 1000px;
  height: 800px;
  border-radius: 7%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 992px) {
  .main_novedades .carousel,
.main_novedades .slide,
.main_novedades .carousel-inner {
    width: 90%;
    max-width: 700px;
    height: 380px;
    max-height: 700px;
    background-size: cover;
  }
}
.main_novedades .novedades_video {
  width: 100%;
  max-width: 560px;
  height: 300px;
}

.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #2b022b;
}

.card {
  margin: auto;
  max-width: 1000px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
.card .cart {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
}
.card .summary {
  background: linear-gradient(to bottom, #a16198, #fca1f0);
}
.card .summary .btn {
  color: white;
  font-size: 1.3rem;
  width: 75px;
  height: 50px;
  background-color: rgba(207, 6, 207, 0.322);
}
.card .summary #code {
  width: 100%;
}
@media (max-width: 768px) {
  .card .summary {
    background: linear-gradient(to top, #a16198, #fca1f0);
    border-top: 1px solid #36142b;
    padding-top: 1rem;
  }
}

footer {
  width: 100%;
  max-width: 1400px;
  background: linear-gradient(to bottom, #814a81, #2e0929);
  position: relative;
  top: 15rem;
  color: white;
}
footer .icono__link {
  width: auto;
  height: auto;
}
@media (max-width: 578px) {
  footer {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
