* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: rgb(129, 74, 129);
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  height: fit-content;
  display: block;
  position: relative;
  width: 100%;
  max-width: 1400px;
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 a {
      color: rgb(38, 0, 48);
      text-decoration: none;
    }
  }
  section {
    color: rgb(43, 2, 43);
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
  svg {
    position: absolute;
    left: 0;
    z-index: -1;
  }
}
