$gradient: linear-gradient(to bottom, rgb(161, 97, 152), rgb(252, 161, 240));
$gradient-top: linear-gradient(to top, rgb(161, 97, 152), rgb(252, 161, 240));
$gradient-footer: linear-gradient(to bottom, rgb(129, 74, 129), rgb(46, 9, 41));
$ancho: 1400px;
$radio: 7%;
$map: (
  map1: hsl(278, 37%, 46%),
  map2: hsl(278, 37%, 51%),
  map3: hsl(278, 37%, 56%),
  map4: hsl(278, 37%, 61%),
  map5: hsl(278, 37%, 66%),
);
