.catalogo__grid {
  /*
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  */
  @for $i from 1 to 7 {
    .libro-#{$i} {
      background: $gradient;
      border-radius: $radio + 7;
      text-align: center;
      border: 2px solid rgba(136, 1, 136, 0.473);
    }
    .product__img {
      position: relative;
      top: 10px;
      max-width: 260px;
      max-height: 260px;
      border-radius: $radio;
    }
    .catalogo__item {
      margin-top: 2rem;
    }
  }
}
