.catalogo__grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  .catalogo__producto {
    text-align: center;
    background-color: rgb(161, 97, 152);
    border: 2px solid rgba(136, 1, 136, 0.473);
    border-radius: 25%;
    .product__img {
      position: relative;
      top: 10px;
      max-width: 260px;
      max-height: 260px;
      border-radius: 7%;
    }
    .catalogo__item {
      margin-top: 2rem;
    }
  }
}
