.novedades__grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr;
  justify-items: center;
  align-items: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
